:host {
  .square-block {
    aspect-ratio: 1/1;
  }

  app-card {
    min-height: 320px;
  }

  .hover-card {
    &:hover {
      background-color: var(--bs-btn-hover-bg);
    }
  }

  .h-4 {
    height: 4rem;
  }
}
